@use "./variables";
// * {
//   border: 1px solid black;
// }
///////////////////////////NAVIGATION SECITON/////////////////////////////

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo h2 {
  margin: 15px 0;
  text-transform: uppercase;
}

.headerNav ul {
  display: flex;
  padding: 0;
}

.headerNav ul li {
  list-style: none;
  padding: 0 30px;
  text-decoration: none;
}

.headerNav ul li a {
  text-decoration: none;
  color: white;
}

.headerNav ul li a:hover {
  color: variables.$secondaryColor;
  text-decoration: none;

  border-bottom: 3px solid variables.$secondaryColor;

  padding-bottom: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3x ease-in-out;
  background-color: white;
}

///////////////////////////TITLE SECITON/////////////////////////////

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  position: relative;
}

.title::before {
  content: "";
  background: url("../images/narciso-arellano-GHC4vOw3aY8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;

  opacity: 0.4;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.title h2,
.title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

.cssanimation {
  animation-name: fadeInBottom;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.title h1 {
  font-size: 5rem;
}

h4 {
  color: variables.$secondaryColor;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.title button {
  background-color: black;
  color: white;
  padding: 15px 35px;
  text-align: center;
  display: inline-block;
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  transition: tranform 0.2s;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  border-radius: 0.4em;
}
.title button:hover {
  transform: scale(1.03);
  background-color: variables.$secondaryColor;
}

///////////////////////////PROJECTS SECITON/////////////////////////////

.projects {
  background: #20262c;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: none;
  max-width: 1200px;
  gap: 12px;
}

a {
  text-decoration: none;
}

article {
  width: 300px;
  background-color: #2f3740;
  padding: 1.125em;
  border-radius: 1em;
  margin: 0.625em;
  margin-top: 2em;
  transition: transform 0.2s;
}

article:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 0.4em;
}

.imageContainer {
  height: 187.5px;
  overflow: hidden;
}

h4.tag {
  margin-bottom: 0;
}

.tag {
  background-color: #455260;
  color: #ee4b2b;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
  margin-top: 1em;
  display: inline-block;
}

.tagTextile {
  color: #c8eeef;
}

.tagAnimal {
  color: #4cf04c;
}

.tagMeme {
  color: #b280e7;
}

.tagDinner {
  color: #fe8b86;
}

.tagTodo {
  color: #fbf8f3;
}

// h2 {
//   color: white;
//   font-size: 2.5rem;
//   line-height: 120%;
// }

.projectTitle {
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
  margin: 0.5em 0;
}

h2 a {
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
}

article p {
  color: #b1c4d9;
}

.linkContainer {
  display: flex;
}

a.cta {
  color: white;
  display: flex;
}

a.cta:hover {
  text-decoration: underline cadetblue;
}

a.cta p {
  margin: 0;
  color: #b1c4d9;
}
// a.cta p:hover {
//   color: #ee4b2b;
// }

svg {
  margin-left: 0.5em;
  align-self: center;
}

.githublink {
  margin-left: 2em;
}

///////////////////////////ABOUT SECITON/////////////////////////////////

.about {
  padding: 100px 0;
}

.aboutandImage {
  display: flex;
  justify-content: space-between;

  margin: 0 0 0 auto;
}

.aboutTitle {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

.aboutImage {
  width: 50%;
  display: inline-block;
}
.aboutImage img {
  object-fit: contain;
  width: 100%;
  display: block;

  transition: transform 0.2s;
}

.aboutImage img:hover {
  transform: scale(1.03);
}

.aboutPara {
  padding: 50px 0;
  width: 50%;

  line-height: 1.5;
}
.aboutPara p a {
  text-decoration: none;
  color: variables.$secondaryColor;
  font-weight: bold;
}
.aboutPara p a:hover {
  text-decoration: underline;
}

///////////////////////////SKILLS SECITON/////////////////////////////////
.skills {
  display: flex;
  padding: 100px 0;
}

.skillsTitle {
  width: 50%;
  font-size: 1.25rem;
}

.listSkills {
  width: 50%;
  line-height: 1.5;
}

.listSkills ul {
  line-height: 1.75;
  padding: 0;
}

.listSkills ul li {
  list-style: none;
}

///////////////////////////Accomplishments SECITON/////////////////////////////////
.accomplishment {
  display: flex;
  padding: 100px 0;
}

.accomplishmentTitle {
  width: 50%;
  font-size: 1.25rem;
}

.accomplishmentSkills {
  width: 50%;
  line-height: 1.5;
}

.accomplishmentSkills h3 {
  margin: 5px;
}

.accomplishmentSkills p {
  color: variables.$secondaryColor;
  margin: 0;
}

.accomplishmentSkills ul {
  padding: 0;
}

.accomplishmentSkills ul li {
  list-style: none;
  padding-bottom: 15px;
}

///////////////////////////CONTACT SECITON/////////////////////////////////
.contact {
  display: flex;
  padding: 0 0 200px 0;
}

.contactField {
  width: 60%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputFields {
  width: 100%;
}

.form .button {
  height: 50px;
  position: relative;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.submit {
  position: absolute;
  right: 0;
  padding: 15px 50px;
  border-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: tranform 0.2s;
  font-family: "Poppins", sans-serif;
  border-radius: 0.4em;
  -webkit-appearance: none;
}

.submit:hover {
  transform: scale(1.03);
  background-color: variables.$secondaryColor;
  -webkit-appearance: none;
}

.form {
  margin: 5px 0;
}

// .form input {
//   padding: 15px 50px;
// }

.inputFields {
  // padding: 20px 0 20px 0;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  border-bottom: 1px solid black;
  background-color: variables.$backgroundColor;
  font-family: "Poppins", sans-serif;
  border-radius: 0.4em;
}

///////////////////////////BOTTOMLINKS SECITON/////////////////////////////////

.bottomLinks {
  display: flex;
  padding: 100px 0;
}

.messageBottom {
  width: 35%;
}

.columns {
  width: 20%;
}

.columns p {
  line-height: 2.5;
  margin: 0;
}

.columns ul {
  list-style: none;
  padding: 0;
}

.columns ul li a {
  text-decoration: none;
  line-height: 2.5;
  color: white;
}

///////////////////////////FOOTER SECTION/////////////////////////////////

footer {
  border-top: 1px solid white;
  padding-top: 15px;
  padding-bottom: 45px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}
.social ul {
  display: flex;
  padding: 0;
}

.social ul li {
  list-style: none;
  padding: 0 15px;
}

.social img {
  width: 30px;
}
