html {
  background-color: #f7f7f5;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

body {
  background: #20262c;
  margin: 0;
  /* display: grid; */
  /* place-content: center; */
  font-family: "Poppins", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  padding-top: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo h2 {
  margin: 15px 0;
  text-transform: uppercase;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.headerNav ul li {
  list-style: none;
  padding: 0 30px;
  text-decoration: none;
}

.headerNav ul li a {
  text-decoration: none;
  color: white;
}

.headerNav ul li a:hover {
  color: #d16938;
  text-decoration: none;
  border-bottom: 3px solid #d16938;
  padding-bottom: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3x ease-in-out;
  transition: all 0.3x ease-in-out;
  background-color: white;
}

.title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 93vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.title::before {
  content: "";
  background: url("../images/narciso-arellano-GHC4vOw3aY8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.4;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.title h2,
.title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

.cssanimation {
  -webkit-animation-name: fadeInBottom;
          animation-name: fadeInBottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
.title h1 {
  font-size: 5rem;
}

h4 {
  color: #d16938;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.title button {
  background-color: black;
  color: white;
  padding: 15px 35px;
  text-align: center;
  display: inline-block;
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: tranform 0.2s;
  transition: tranform 0.2s;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  border-radius: 0.4em;
}

.title button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #d16938;
}

.projects {
  background: #20262c;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-sizing: none;
          box-sizing: none;
  max-width: 1200px;
  gap: 12px;
}

a {
  text-decoration: none;
}

article {
  width: 300px;
  background-color: #2f3740;
  padding: 1.125em;
  border-radius: 1em;
  margin: 0.625em;
  margin-top: 2em;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 0.4em;
}

.imageContainer {
  height: 187.5px;
  overflow: hidden;
}

h4.tag {
  margin-bottom: 0;
}

.tag {
  background-color: #455260;
  color: #ee4b2b;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
  margin-top: 1em;
  display: inline-block;
}

.tagTextile {
  color: #c8eeef;
}

.tagAnimal {
  color: #4cf04c;
}

.tagMeme {
  color: #b280e7;
}

.tagDinner {
  color: #fe8b86;
}

.tagTodo {
  color: #fbf8f3;
}

.projectTitle {
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
  margin: 0.5em 0;
}

h2 a {
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
}

article p {
  color: #b1c4d9;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.cta {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.cta:hover {
  -webkit-text-decoration: underline cadetblue;
          text-decoration: underline cadetblue;
}

a.cta p {
  margin: 0;
  color: #b1c4d9;
}

svg {
  margin-left: 0.5em;
  -ms-flex-item-align: center;
      align-self: center;
}

.githublink {
  margin-left: 2em;
}

.about {
  padding: 100px 0;
}

.aboutandImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 auto;
}

.aboutTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

.aboutImage {
  width: 50%;
  display: inline-block;
}

.aboutImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.aboutImage img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.aboutPara {
  padding: 50px 0;
  width: 50%;
  line-height: 1.5;
}

.aboutPara p a {
  text-decoration: none;
  color: #d16938;
  font-weight: bold;
}

.aboutPara p a:hover {
  text-decoration: underline;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.skillsTitle {
  width: 50%;
  font-size: 1.25rem;
}

.listSkills {
  width: 50%;
  line-height: 1.5;
}

.listSkills ul {
  line-height: 1.75;
  padding: 0;
}

.listSkills ul li {
  list-style: none;
}

.accomplishment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.accomplishmentTitle {
  width: 50%;
  font-size: 1.25rem;
}

.accomplishmentSkills {
  width: 50%;
  line-height: 1.5;
}

.accomplishmentSkills h3 {
  margin: 5px;
}

.accomplishmentSkills p {
  color: #d16938;
  margin: 0;
}

.accomplishmentSkills ul {
  padding: 0;
}

.accomplishmentSkills ul li {
  list-style: none;
  padding-bottom: 15px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 200px 0;
}

.contactField {
  width: 60%;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputFields {
  width: 100%;
}

.form .button {
  height: 50px;
  position: relative;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.submit {
  position: absolute;
  right: 0;
  padding: 15px 50px;
  border-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
  -webkit-transition: tranform 0.2s;
  transition: tranform 0.2s;
  font-family: "Poppins", sans-serif;
  border-radius: 0.4em;
  -webkit-appearance: none;
}

.submit:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #d16938;
  -webkit-appearance: none;
}

.form {
  margin: 5px 0;
}

.inputFields {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f7f7f5;
  font-family: "Poppins", sans-serif;
  border-radius: 0.4em;
}

.bottomLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.messageBottom {
  width: 35%;
}

.columns {
  width: 20%;
}

.columns p {
  line-height: 2.5;
  margin: 0;
}

.columns ul {
  list-style: none;
  padding: 0;
}

.columns ul li a {
  text-decoration: none;
  line-height: 2.5;
  color: white;
}

footer {
  border-top: 1px solid white;
  padding-top: 15px;
  padding-bottom: 45px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.social ul li {
  list-style: none;
  padding: 0 15px;
}

.social img {
  width: 30px;
}

@media (max-width: 1215px) {
  .title h1 {
    font-size: 3rem;
  }
  .title h2 {
    font-size: 2rem;
  }
  .title button {
    font-size: 1em;
  }
}
@media (max-width: 900px) {
  .bottomLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .messageBottom,
  .columns {
    width: 100%;
  }
  .contactField {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .hamburger {
    display: block;
    padding-top: 23px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .headerNav ul {
    position: fixed;
    right: -100%;
    top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d16938;
  }
  .headerNav ul li {
    padding: 10px 0;
  }
  .headerNav ul.active {
    right: 0;
    position: absolute;
  }
  .headerNav ul.active li a {
    color: white;
  }
  .headerNav ul.active li a:hover {
    border-bottom: 3px solid black;
  }
  .separateColumns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columnOne,
  .columnTwo {
    width: 100%;
  }
  .columnTwo {
    padding-top: 0;
  }
  .projectOneImage {
    background-repeat: no-repeat;
    background-color: #ee892f;
  }
  .projectTwoImage {
    background-position: top -200px right -100px;
  }
  .projectImage {
    height: 20vh;
  }
  .aboutandImage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImage {
    width: 100%;
  }
  .aboutTitle h2 {
    width: 100%;
  }
  .aboutPara {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 735px) {
  .title h1 {
    font-size: 2.5rem;
  }
  .title h2 {
    font-size: 1.75rem;
  }
  .projectTitle {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }
}
@media (max-width: 618px) {
  .title h1 {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 1.5rem;
  }
  .title button {
    padding: 10px 30px;
  }
}
@media (max-width: 750px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .skillsTitle,
  .listSkills {
    width: 100%;
  }
  .accomplishment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .accomplishmentTitle,
  .accomplishmentSkills {
    width: 100%;
  }
  .contactField {
    width: 100%;
  }
}
@media (max-width: 496px) {
  .title h1 {
    font-size: 1.5rem;
  }
  .title h2 {
    font-size: 1em;
  }
}
@media (max-width: 410px) {
  .title button {
    padding: 10px 30px;
    font-size: 0.9rem;
  }
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.9rem;
  }
}
@media (max-width: 377px) {
  .title h1 {
    font-size: 1.3rem;
  }
  .title h2 {
    font-size: 1rem;
  }
}