@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #f7f7f5;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

html {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h4 {
  font-family: "Fahkwang", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  padding-top: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo h2 {
  margin: 15px 0;
  text-transform: uppercase;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.headerNav ul li {
  list-style: none;
  padding: 0 30px;
  text-decoration: none;
}

.headerNav ul li a {
  text-decoration: none;
  color: black;
}

.headerNav ul li a:hover {
  color: #d16938;
  text-decoration: none;
  border-bottom: 3px solid #d16938;
  padding-bottom: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3x ease-in-out;
  transition: all 0.3x ease-in-out;
  background-color: black;
}

.title {
  padding: 200px 0;
  text-align: center;
}

.title h2,
.title h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.5;
}

.cssanimation {
  -webkit-animation-name: fadeInBottom;
          animation-name: fadeInBottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
.title h1 {
  font-size: 5rem;
}

h4 {
  color: #d16938;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.title button {
  background-color: black;
  color: white;
  padding: 15px 35px;
  text-align: center;
  display: inline-block;
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: tranform 0.2s;
  transition: tranform 0.2s;
}

.title button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #d16938;
}

.separateColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.columnOne,
.columnTwo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columnTwo {
  padding-top: 25%;
}

.projectOne,
.projectTwo,
.projectThree {
  margin-bottom: 50px;
}

.projectImage {
  height: 50vh;
  overflow: hidden;
}

.projectOneImage {
  background-image: url(../images/charmander-minimalist-poster-pokemon-svit-artprints.jpg);
  -o-object-fit: fill;
     object-fit: fill;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.projectTwoImage {
  background-image: url(../images/image-5.jpg);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: top -30px right -100px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.projectThreeImage {
  background-image: url(../images/textilesPoster.jpg);
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.projectFourImage {
  background-image: url(../images/Renee-Suen-TL-June-2021-Myth-SPREAD-4.jpg);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: top -30px right -100px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.projectOneImage:hover,
.projectTwoImage:hover,
.projectThreeImage:hover,
.projectFourImage:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.projectOneText p a,
.projectTwoText p a,
.projectThreeText p a,
.projectFourText p a {
  text-decoration: none;
  color: #d16938;
}

.about {
  padding: 100px 0;
}

.aboutandImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 auto;
}

.aboutTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

.aboutImage {
  width: 50%;
  display: inline-block;
}

.aboutImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
  border: 40px solid #d16938;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.aboutImage img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #d16938;
}

.aboutPara {
  padding: 50px 0;
  width: 50%;
  line-height: 1.5;
}

.aboutPara p a {
  text-decoration: none;
  color: #d16938;
  font-weight: bold;
}

.aboutPara p a:hover {
  text-decoration: underline;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.skillsTitle {
  width: 50%;
}

.listSkills {
  width: 50%;
  line-height: 1.5;
}

.listSkills ul {
  line-height: 1.75;
  padding: 0;
}

.listSkills ul li {
  list-style: none;
}

.accomplishment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.accomplishmentTitle {
  width: 50%;
}

.accomplishmentSkills {
  width: 50%;
  line-height: 1.5;
}

.accomplishmentSkills h3 {
  margin: 5px;
}

.accomplishmentSkills p {
  color: #d16938;
  margin: 0;
}

.accomplishmentSkills ul {
  padding: 0;
}

.accomplishmentSkills ul li {
  list-style: none;
  padding-bottom: 15px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 200px 0;
}

.contactField {
  width: 60%;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputFields {
  width: 100%;
}

.form .button {
  height: 50px;
  position: relative;
  margin-top: 30px;
}

.submit {
  position: absolute;
  right: 0;
  padding: 15px 50px;
  border-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
  -webkit-transition: tranform 0.2s;
  transition: tranform 0.2s;
}

.submit:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #d16938;
}

.form {
  margin: 5px 0;
}

.inputFields {
  padding: 20px 0 20px 0;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f7f7f5;
}

.bottomLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.messageBottom {
  width: 35%;
}

.columns {
  width: 20%;
}

.columns p {
  line-height: 2.5;
  margin: 0;
}

.columns ul {
  list-style: none;
  padding: 0;
}

.columns ul li a {
  text-decoration: none;
  line-height: 2.5;
  color: black;
}

footer {
  border-top: 1px solid black;
  padding-top: 15px;
  padding-bottom: 45px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.social ul li {
  list-style: none;
  padding: 0 15px;
}

.social img {
  width: 30px;
}

@media (max-width: 1033px) {
  .title h1 {
    font-size: 3rem;
  }
  .title h2 {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .bottomLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .messageBottom,
.columns {
    width: 100%;
  }
  .contactField {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .hamburger {
    display: block;
    padding-top: 17px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .headerNav ul {
    position: fixed;
    right: -100%;
    top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d16938;
  }
  .headerNav ul li {
    padding: 10px 0;
  }
  .headerNav ul.active {
    right: 0;
    position: absolute;
  }
  .headerNav ul.active li a {
    color: white;
  }
  .headerNav ul.active li a:hover {
    border-bottom: 3px solid black;
  }
  .separateColumns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columnOne,
.columnTwo {
    width: 100%;
  }
  .columnTwo {
    padding-top: 0;
  }
  .projectOneImage {
    background-repeat: no-repeat;
    background-color: #ee892f;
  }
  .projectTwoImage {
    background-position: top -200px right -100px;
  }
  .projectImage {
    height: 20vh;
  }
  .aboutandImage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImage {
    width: 100%;
  }
  .aboutTitle h2 {
    width: 100%;
  }
  .aboutPara {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 627px) {
  .title h1 {
    font-size: 2.5rem;
  }
  .title h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 610px) {
  .title h1 {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 1.5rem;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .skillsTitle,
.listSkills {
    width: 100%;
  }
  .accomplishment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .accomplishmentTitle,
.accomplishmentSkills {
    width: 100%;
  }
  .contactField {
    width: 100%;
  }
}
@media (max-width: 410px) {
  .title h1 {
    font-size: 1.3rem;
  }
  .title h2 {
    font-size: 1rem;
  }
  .title button {
    padding: 10px 30px;
    font-size: 0.9rem;
  }
  .aboutImage img {
    border: 20px solid #d16938;
  }
  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.9rem;
  }
}